{% extends "template.html" %}

{% block body %}
<!-- Pie Chart Showing percentage of positive,negative,neutral reviews -->
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{ pcComparisonHeader }}</h4>
  <p>{{sentbg | safe}}</p>
  <hr>
</div>
<div class="row pt-3">
  <!-- Hotel x piechart-->
  <div class="col d-flex flex-column align-items-center">
    <h4>{{hotelname}}</h4>
    <div>{{ specific_sentiment_piechart|safe }}</div>
  </div>
  <!-- All piechart-->
  <div class="col d-flex flex-column align-items-center">
    <h4>All hotels</h4>
    <div>{{ all_sentiment_piechart|safe }}</div>
  </div>
</div>
<!-- Piechart insights-->
<div class="card bg-light mb-3">
  <h4 class="card-header">Analysis Insights</h4>
  <div class="card-body">
    <p class="card-text">{{sentresult | safe}}</p>
    <p class="card-text">{{sentinsight | safe}}</p>
  </div>
</div>
<!--end of piechart-->

<!-- Review Rating Bar Chart -->
<div class="alert alert-success mt-5" role="alert">
  <h4 class="alert-heading">{{ rrComparisonHeader }}</h4>
  <p>{{arbg | safe}}</p>
  <hr>
</div>
<div class="row pt-3">
  <!-- Hotel x rating of reviews -->
  <div class="col d-flex flex-column align-items-center">
    <h4>{{hotelname}}</h4>
    <div>{{ specific_averagerating_histogram |safe }}</div>
  </div>
  <!-- All average review rating -->
  <div class="col d-flex flex-column align-items-center">
    <h4>All hotels</h4>
    <div>{{ all_averagerating_histogram|safe }}</div>
  </div>
</div>
<!-- Review Rating insights -->
<div class="card bg-light mb-3">
  <h4 class="card-header">Analysis Insights</h4>
  <div class="card-body">
    <p class="card-text">{{arresult | safe}}</p>
    <p class="card-text">{{arinsight | safe}}</p>
  </div>
</div>
<!--end of review rating-->

<!-- Word Cloud showing most discussed topics of reviews -->
<div class="alert alert-success mt-5" role="alert">
  <h4 class="alert-heading">{{ wcComparisonHeader }}</h4>
  <p>{{wcbg | safe}}</p>
  <hr>
</div>
<div class="row pt-3">
  <!-- Hotel x wordcloud -->
  <div class="col d-flex flex-column align-items-center">
    <h4>{{hotelname}}</h4>
    <img src="data:image/png;base64,{{ specific_keywords_wordcloud }}" alt="Keywords Word Cloud">
  </div>
  <!-- All wordcloud -->
  <div class="col d-flex flex-column align-items-center">
    <h4>All hotels</h4>
    <img src="data:image/png;base64,{{ all_keywords_wordcloud }}" alt="Keywords Word Cloud">
  </div>
</div>
<!-- Wordcloud insights -->
<div class="card bg-light mb-3">
  <h4 class="card-header">Analysis Insights</h4>
  <div class="card-body">
    <p class="card-text">{{wcresult | safe}}</p>
    <p class="card-text">{{wcinsight | safe}}</p>
  </div>
</div>

<!--end of wordcloud-->

<!-- Amenities comparison, showing potential amenties to implement -->
<div class="alert alert-success mt-5" role="alert">
  <h4 class="alert-heading">{{ amComparisonHeader }}</h4>
  <p>{{awcbg | safe}}</p>
  <hr>
</div>
<div class="row pt-3">
  <!-- Hotel x amenities -->
  <div class="col d-flex flex-column align-items-center">
    <h4>{{hotelname}}</h4>
    <img src="data:image/png;base64,{{ specific_amenities_wordcloud }}" alt="Amenities Word Cloud">
  </div>
  <!-- All amenties -->
  <div class="col d-flex flex-column align-items-center">
    <h4>All hotels</h4>
    <img src="data:image/png;base64,{{ all_amenities_wordcloud }}" alt="Amenities Word Cloud">
  </div>
</div>
<!-- Amenties insights -->
<div class="card bg-light mb-3">
  <h4 class="card-header">Analysis Insights</h4>
  <div class="card-body">
    <p class="card-text">{{prresult | safe}}</p>
    <p class="card-text">{{prinsight | safe}}</p>
  </div>
</div>
<!--end of amenities-->

<!-- Amenities comparison, showing potential amenties to implement -->
<div class="alert alert-success mt-5" role="alert">
  <h4 class="alert-heading">{{ prComparisonHeader }}</h4>
  <p>{{prbg | safe}}</p>
  <hr>
</div>
<div class="row pt-3">
  <!-- Hotel x amenities -->
  <div class="col d-flex flex-column align-items-center">
    <h4>{{hotelname}}</h4>
    <img src="data:image/png;base64,{{ specific_amenities_wordcloud }}" alt="Pricing Histogram">
  </div>
  <!-- All amenties -->
  <div class="col d-flex flex-column align-items-center">
    <h4>All hotels</h4>
    <img src="data:image/png;base64,{{ all_amenities_wordcloud }}" alt="Pricing Histogram">
  </div>
</div>
<!-- Amenties insights -->
<div class="card bg-light mb-3">
  <h4 class="card-header">Analysis Insights</h4>
  <div class="card-body">
    <p class="card-text">{{prresult | safe}}</p>
    <p class="card-text">{{prinsight | safe}}</p>
  </div>
</div>
<!--end of amenities-->

{% endblock %}