{% extends "template.html" %}

{% block body %}
<!-- Pie Chart Showing percentage of positive,negative,neutral reviews -->
<h4>{{ pcComparisonHeader }}</h4>
<div class="row">
  <!-- Hotel x piechart-->
  <div class="col">
    <p>{{hotelname}}</p>
    <div>{{ specific_sentiment_piechart|safe }}</div>
  </div>
  <!-- All piechart-->
  <div class="col">
    All hotels
    <div>{{ all_sentiment_piechart|safe }}</div>
  </div>
</div>
<!-- Piechart insights-->
<div class="row">
  <div class="col">
    <h3>==Background==</h3>
    <p>{{sentbg | safe}}</p>
    <h3>==Results==</h3>
    <p>{{sentresult | safe}}</p>
    <h3>==Insights==</h3>
    <p>{{sentinsight | safe}}</p>
  </div>
</div>
<!--end of piechart-->
<br><br><br>
<!-- Review Rating Bar Chart -->
<h4>{{ rrComparisonHeader }}</h4>
<div class="row">
  <!-- Hotel x rating of reviews -->
  <div class="col">
    <p>{{hotelname}}</p>
    <div>{{ specific_averagerating_histogram |safe }}</div>
  </div>
  <!-- All average review rating -->
  <div class="col">
    All hotels
    <div>{{ all_averagerating_histogram|safe }}</div>
  </div>
</div>
<!-- Review Rating insights -->
<div class="row">
  <div class="col">
    <h3>==Background==</h3>
    <p>{{arbg | safe}}</p>
    <h3>==Results==</h3>
    <p>{{arresult | safe}}</p>
    <h3>==Insights==</h3>
    <p>{{arinsight | safe}}</p>
  </div>
</div>
<!--end of review rating-->

<!-- Word Cloud showing most discussed topics of reviews -->
<h4>{{ wcComparisonHeader }}</h4>  
<div class="row">
  <!-- Hotel x wordcloud -->
  <div class="col">
    hotel x
    <img src="data:image/png;base64,{{ specific_keywords_wordcloud }}" alt="Word Cloud">
  </div>
  <!-- All wordcloud -->
  <div class="col">
    All hotels
    <img src="data:image/png;base64,{{ all_keywords_wordcloud }}" alt="Word Cloud">
  </div>
</div>
<!-- Wordcloud insights -->
<div class="row">
  <div class="col">
    <h3>==Background==</h3>
    <p>{{wcbg | safe}}</p>
    <h3>==Results==</h3>
    <p>{{wcresult | safe}}</p>
    <h3>==Insights==</h3>
    <p>{{wcinsight | safe}}</p>
  </div>
</div>
<!--end of wordcloud-->

<!-- Amenities comparison, showing potential amenties to implement -->
<h4>{{ amComparisonHeader }}</h4>  
<div class="row">
  <!-- Hotel x amenities -->
  <div class="col">
    hotel x
  </div>
  <!-- All amenties -->
  <div class="col">
    All hotels
  </div>
</div>
<!-- Amenties insights -->
<div class="row">
  <div class="col">
    you can implement xxx amenties
  </div>
</div>
<!--end of amenities-->
{% endblock %}  