{% extends "base.html" %}

{% block head %}
<head>
    <title>DashBoard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.plot.ly/plotly-latest.min.css">
</head>
<body>
    <h1>Pie Chart</h1>
    <h3>Catergories of the accomodations</h3>
    <div>{{ pie_chart_div|safe }}</div>
    <h1>Histogram</h1>
    <h3>Average Rating of the accomodations</h3>
    <div>{{ histogram_div|safe }}</div>
</body>
{% endblock %}
