{% extends "template.html" %}

{% block head %}

<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
</head>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('generalPage') }}">
  <div class="form-group">
    <label for="hotelName-dropdown">Choose a Hotel</label>
    <select class="custom-select" id="hotelName-dropdown" name="hotelName-dropdown">
      <option value="">All</option>
      {% for name in hotel_name %}
      <option value="{{ name }}">{{ name }}</option>
      {% endfor%}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="row">
  <div class="col">
    <h3>{{ mpHeader }}</h3>
    <div>{{ map_div | safe }}</div><br>
    <b>Heatmap of Occuring Reviews</b>
    <p>{{ map_desc }}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ acHeader }}</h3>
    <div>{{ accomo_piechart|safe }}</div>
    <b>Piechart of most common categories</b>
    <p>{{ accom_desc }}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Wordcloud {{ selected_hotel }}</h3>
    <img src="data:image/png;base64,{{ all_keywords_wordcloud }}" alt="Word Cloud">
    <br>
    <b>Word Cloud Count</b>
    <p>The top {{ len_occur }} most reoccuring words in this hotel's review are:</p>
    <p>{% for word, occur in all_wordcloud.items() %}{{ word }} : {{ occur }}, {% endfor %}</p>
    <p>Hotels can look into these words as they are the most discussed words that appear in their reviews, which may give insight of the characteristics of their hotel from 
      a viewpoint of a visitor.
    </p>
  </div>
  <div class="col">
    <h3>{{ pv_Header }}</h3>
    <div>{{ provinces|safe }}</div>
    <b>Count of Hotels</b>
    <p>A bar graph counting how many hotels exists within any given province within the dataset in the USA.</p>
    <p>The province with the most hotels is {{ max_province_histogram }} at {{ max_count }} hotels.</p>
    <p>Conversely, the province with the least amount hotel is {{ min_province_histogram }} at {{ min_count }}.</p>
    <p>Should hotel owners choose to move, this graph should show which provinces are overstaurated with hotels, and provinces which lack them.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ smHeader }}</h3>
    <img src="data:image/png;base64,{{ score_heatmap }}" alt="Heat Map">
    <br>
    <b>Score correlation accross provinces</b>
    <p>A heat map that shows the given correlation of the different scoring methods of a hotel, averaged by score accross provinces. The greater the value, the greater the correlation.</p>
    <p>The number ranges from 1 to -1, positive values are postive correlations and negative vice versa.</p>
    <p>The top correlation is {{ top_cor }} at {{ top_cor_val}}. Hotel owners are expected to pay attention to these values as improving them would result in a better score.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ raHeader }}</h3>
    <div>{{ all_amenities_rank | safe }}</div>
    <b>Ranking of Amenities Coefficient score</b>
    <p>A bar graph ranking given amenities of any given hotel and how much likely it is to affect hotel scores. The
      greater the number, the bigger the effect. Negative values are unfavourable on the hand, indicating a negative correlation.</p>
    <p>The top 5 most sought after amenities are : {% for amn in best_amenities %}{{ amn }}, {% endfor %}</p>
    <p>The bottom 5 least sought after amenities are: {% for amn in worst_amenities %}{{ amn }}, {% endfor %}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ aaHeader }}</h3>
    <div>{{ all_averagerating_histogram|safe }}</div>
    <b>Average Ranking of all Hotel</b>
    <p>A histogram showing the average hotel review score accross the dataset.</p>
    <p>Across the dataset, the average score is {{ all_averageRating }}.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ scHeader }}</h3>
    <div>{{ scattermap|safe }}</div>
    <b>Plot Graph Score Rating.</b>
    <p>A plot graph of the average rating of all hotels againsts their compound sentiment score.</p>
    <p>A rising line indicates a positive correlation, while falling line indicates a negative correlation.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ gsHeader }}</h3>
    <div>{{ all_gs_rank | safe }}</div>
    <b>Bar Graph Ranking of General Factors</b>
    <p>This is bar graph ranking of all general factors and how much it affects the overall compound sentiment score of
      a given hotel. Visitors are likely to judge on these factors.</p>
    <p>The most important and impactful factor is :{{ best_factor }}</p>
    <p>The least important and impactful factor is :{{ worst_factor }}</p>
    <p>Hotels should be mindful {{ best_factor}} as it is the factor visitors will most likely pay attention to any
      given hotel.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ ssHeader }}</h3>
    <div>{{ all_season_rank | safe }}</div>
    <bar></bar>
    <p>The best performing season is {{ best_season }}</p>
    <p>The worst performing season is {{ worst_season }}</p>
    <p>Hotels should pay attention to visitor attraction and retention in the season of {{ best_season }}.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Other Hotel Information</h3>
    <table id='all_data_table' class="display">
      <thead>
        <tr>
          <th>Hotel Name</th>
          <th>Province</th>
          <th>Postal Code</th>
          <th>Categories</th>
          <th>Primary Categories</th>
          <th>Compound Sentiment</th>
          <th>Top Review Summary</th>
          <th>Bottom Review Summary</th>
          <th>Total Reviews</th>
          <th>Popular Keywords</th>
          <th>Average Rating</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <!-- <tfoot>
        <th>Hotel Name</th>
        <th>Province</th>
        <th>Postal Code</th>
        <th>Categories</th>
        <th>Primary Categories</th>
        <th>Compound Sentiment</th>
        <th>Review Summary</th>
        <th>Total Reviews</th>
        <th>Popular Keywords</th>
        <th>Average Rating</th>
      </tfoot> -->
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#all_data_table').DataTable({
      search: {
        return: true
      },
      autoWidth: false,
      ajax: {
        url: '/api/general',
      },
      columns: [
        { data: 'name' },
        { data: 'province' },
        { data: 'postalCode' },
        { data: 'categories', visible: false },
        { data: 'primaryCategories', visible: false },
        { data: 'Compound Sentiment', visible: false },
        { data: 'good_reviews_summary' },
        { data: 'bad_reviews_summary' },
        { data: 'reviews_total' },
        { data: 'popular_keywords', visible: false },
        { data: 'average_rating' }
      ]
    });

  });
</script>
{% endblock %}