{% extends "base.html" %}

{% block head %}
<head> 
    <title>Uploading & Reading CSV file</title> 
    <link rel="stylesheet" href="static/css/main.css">
</head> 
<body> 
    <form method = "POST" enctype="multipart/form-data" action = "/">   
        <input type="file" name="file" accept=".csv">
        <input type = "submit" value="Upload"> 
    </form>
    <p style="color:blue;">Choose csv file to upload</p>
  <form action="/show_data" target="_blank">
        <input type="submit" value="Show Raw CSV"/>
    </form>
    <form action="/categorise_data" target="_blank">
        <input type="submit" value="Categorise Data"/>
    </form>
</body> 
{% endblock %}  
