<!-- Page Content -->
{% extends "base.html" %}

{% block head %}
<head>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<div class="header" style="background-color: #005580;">
    <h2>User preferences</h2>
    <h2 style="text-align:center;">Hotel Review Sentiment Analysis</h2>
</div>
<div>
    <table id='analysed_data' class="display">
        <thead>
            <tr>
                {% for col in column_names %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                            <td>{{ row_ }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                {% for col in column_names %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready( function () {
            $('#analysed_data').DataTable( {
                search: {
                return: true
                },
                columnDefs: [
                    {
                        targets:  3,
                        visible: false
                    },
                    {
                        targets:  4,
                        visible: false
                    },
                    {
                        targets:  5,
                        visible: false
                    },
                    {
                        targets:  8,
                        visible: false
                    }
                ]
            });
        });

    </script>
</div>
<br>
{% endblock %}  